<div class="row">
  <div class="col-md-8 col-xs-12">
    <div class="card card--fullpage">
      <div class="card-header separator">
        <h4 class="card-title">
          {{ 'Actility LoRa' | translate }}
        </h4>
      </div>
      <div class="inner-scroll">
        <div class="card-block">
          <p class="m-b-16" ng-if="vm.areCredentialsSaved && !vm.editMode" translate>
            Credentials already provided.<br />
            Click "Replace credentials" below to overwrite them.
          </p>
          <p class="m-b-16" ng-if="!vm.areCredentialsSaved" translate>
            There are no credentials provided yet.<br />Please provide some.
          </p>
          <div ng-form="vm.actilitySettingsForm">
            <div class="row">
              <div class="col-md-6 form-group" ng-if="!vm.areCredentialsSaved || vm.editMode">
                <label translate>Profile ID</label>
                <input
                  class="form-control"
                  type="text"
                  name="profileId"
                  ng-model="vm.settings.profileId"
                  placeholder="{{ 'e.g.' | translate }} 1234"
                  required
                />
                <c8y-error-feedback field="vm.actilitySettingsForm.profileId"></c8y-error-feedback>
              </div>
              <div class="col-md-6 form-group" ng-if="!vm.areCredentialsSaved || vm.editMode">
                <label translate>Application EUI</label>
                <input
                  class="form-control"
                  type="text"
                  name="applicationEUI"
                  ng-model="vm.settings.applicationEUI"
                  placeholder="{{ 'e.g.' | translate }} 70B3D53260000003"
                  ng-pattern="/^([0-9A-F]{2}){8}$/i"
                  required
                />
                <c8y-error-feedback field="vm.actilitySettingsForm.applicationEUI">
                  <span ng-message="pattern" translate>
                    Must be a valid 16 digit hexadecimal number.
                  </span>
                </c8y-error-feedback>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group" ng-if="!vm.areCredentialsSaved || vm.editMode">
                <label translate>Username</label>
                <input
                  class="form-control"
                  type="text"
                  name="username"
                  ng-model="vm.settings.username"
                  placeholder="{{ 'e.g. joe`LOCALIZE`' | translate }}"
                  required
                />
                <c8y-error-feedback field="vm.actilitySettingsForm.username"></c8y-error-feedback>
              </div>
              <div class="col-md-6 form-group" ng-if="!vm.areCredentialsSaved || vm.editMode">
                <label translate>Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  ng-model="vm.settings.password"
                  c8y-autocomplete="off"
                  placeholder="{{ 'e.g. my_password' | translate }}"
                  required
                />
                <c8y-error-feedback field="vm.actilitySettingsForm.password"></c8y-error-feedback>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer separator">
        <button
          class="btn btn-primary"
          title="{{ 'Replace credentials' | translate }}"
          ng-if="vm.areCredentialsSaved && !vm.editMode"
          ng-click="vm.turnOnEditMode()"
        >
          {{ 'Replace credentials' | translate }}
        </button>
        <button
          class="btn btn-primary"
          title="{{ 'Save credentials' | translate }}"
          ng-if="!vm.areCredentialsSaved || vm.editMode"
          ng-click="vm.save()"
          ng-disabled="vm.actilitySettingsForm.$invalid"
        >
          {{ 'Save credentials' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
